@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
}
.display-4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
.display-7 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.06rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #8fc843 !important;
}
.bg-success {
  background-color: #9473d2 !important;
}
.bg-info {
  background-color: #7237a2 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #8fc843 !important;
  border-color: #8fc843 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #8fc843 !important;
  border-color: #8fc843 !important;
}
.btn-primary:before {
  background-color: #67932b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #67932b !important;
  border-color: #67932b !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-secondary:before {
  background-color: #eb3934 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #eb3934 !important;
  border-color: #eb3934 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-info:before {
  background-color: #4a2469 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4a2469 !important;
  border-color: #4a2469 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-success:before {
  background-color: #693cbc !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #693cbc !important;
  border-color: #693cbc !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
  color: #aaac12 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12 !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-warning:before {
  background-color: #f0f27f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger:before {
  background-color: #c9c9c9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #598025;
  color: #598025;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #8fc843;
}
.btn-primary-outline:before {
  background-color: #8fc843;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #8fc843 !important;
  border-color: #8fc843 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #e9221d;
  color: #e9221d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #f27d7a;
}
.btn-secondary-outline:before {
  background-color: #f27d7a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f27d7a !important;
  border-color: #f27d7a !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3c1d56;
  color: #3c1d56;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #7237a2;
}
.btn-info-outline:before {
  background-color: #7237a2;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7237a2 !important;
  border-color: #7237a2 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #5e36a9;
  color: #5e36a9;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #9473d2;
}
.btn-success-outline:before {
  background-color: #9473d2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9473d2 !important;
  border-color: #9473d2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #8fc843;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #8fc843 !important;
}
.text-secondary {
  color: #f27d7a !important;
}
.text-success {
  color: #9473d2 !important;
}
.text-info {
  color: #7237a2 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #598025 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #e9221d !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #5e36a9 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3c1d56 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #7237a2;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-gallery-filter li.active .btn {
  background-color: #8fc843;
  border-color: #8fc843;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #8fc843;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #cae5a6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b083d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #8fc843;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #8fc843;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #8fc843;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #8fc843;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #8fc843;
}
/* Headers*/
/* Content */
.content11 .counter-container div .counter {
  background: #8fc843;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.4rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.696rem;
}
.display-7 {
  font-weight: 300;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-rcNGfBA9sC {
  padding-top: 160px;
  padding-bottom: 120px;
  background-image: url("../../../assets/images/2-2000x766.jpg");
  direction: rtl;
}
.cid-rcNGfBA9sC .media-content .btn-bgr {
  z-index: 0;
}
.cid-rcNGfBA9sC .mbr-overlay {
  background: linear-gradient(90deg, #52e2dd, #ffffff);
}
@media (min-width: 992px) {
  .cid-rcNGfBA9sC .media-content {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
@media (max-width: 991px) {
  .cid-rcNGfBA9sC {
    text-align: center !important;
  }
  .cid-rcNGfBA9sC .mbr-text {
    text-align: center;
  }
}
.cid-rcNGfBA9sC .media-container-row {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.cid-rcNGfBA9sC H1 {
  text-align: right;
  color: #ffffff;
}
.cid-rcNGfBA9sC .mbr-text,
.cid-rcNGfBA9sC .mbr-section-btn {
  text-align: right;
  color: #0a0a0a;
}
.cid-rcNGfBA9sC B {
  color: #0a0a0a;
}
.cid-rhZdUVAhVL {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rhZdUVAhVL .block-title {
  text-align: left;
}
.cid-ruR5oTC054 {
  background: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cid-ruR5oTC054 .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-ruR5oTC054 .video-block {
    width: 100% !important;
  }
}
.cid-rcNHBkEmze {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #ffffff;
  direction: rtl;
}
.cid-rcNHBkEmze .block-title {
  text-align: center;
}
.cid-rcNHK1oG2l {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #8fc843;
  direction: rtl;
}
.cid-rcNHK1oG2l .mbr-text {
  color: #ffffff;
}
.cid-rcNHK1oG2l h4 {
  text-align: center;
}
.cid-rcNHK1oG2l p {
  text-align: center;
}
.cid-rcNHK1oG2l .card .card-img span {
  font-size: 40px;
  padding: 1.5rem;
  background: #6c9cdf;
  border: 2px solid #6c9cdf;
  color: #ffffff;
  border-radius: 50%;
  transition: all .3s;
}
.cid-rcNHK1oG2l .card:hover .card-img span {
  background: none;
  color: #6c9cdf;
}
.cid-rcNHK1oG2l .card-title,
.cid-rcNHK1oG2l .card-img {
  color: #ffffff;
}
.cid-rcNJG2tYgF {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
  direction: rtl;
}
.cid-rcNJG2tYgF .block-title {
  text-align: center;
}
.cid-rcNIWMBx0w {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  direction: rtl;
}
.cid-rcNIWMBx0w .media-content .btn-bgr {
  z-index: 0;
}
.cid-rcNIWMBx0w .mbr-overlay {
  background: linear-gradient(90deg, #21b968, #1ec5bf);
}
.cid-rcNIWMBx0w h3 {
  color: #000000;
  font-weight: 300;
}
.cid-rcNIWMBx0w p {
  color: #464646;
}
.cid-rcNIWMBx0w h2 {
  color: #000000;
}
.cid-rcNIWMBx0w .media-content {
  padding-right: 1.5rem;
  padding-left: 0;
  padding-right: 0;
  padding-left: 1.5rem;
}
.cid-rcNIWMBx0w .mbr-section-btn {
  margin-left: -0.8rem;
}
.cid-rcNIWMBx0w .mbr-figure {
  padding-right: 1rem;
  padding-left: 4rem;
}
@media (min-width: 500px) {
  .cid-rcNIWMBx0w .mbr-figure {
    padding-left: 2rem;
  }
}
@media (max-width: 499px) {
  .cid-rcNIWMBx0w .mbr-figure {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-rcNIWMBx0w .mbr-figure {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-rcNIWMBx0w .media-container-row {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .cid-rcNIWMBx0w .mbr-text {
    text-align: center;
  }
}
.cid-rcNIWMBx0w .mbr-section-title,
.cid-rcNIWMBx0w .mbr-section-btn {
  text-align: right;
}
.cid-rcNIWMBx0w .mbr-section-subtitle {
  text-align: right;
}
.cid-rcNJbZ1LSk {
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: #ffffff;
  background: linear-gradient(90deg, #ffffff, #fafafa);
  direction: rtl;
}
.cid-rcNJbZ1LSk .media-content .btn-bgr {
  z-index: 0;
}
.cid-rcNJbZ1LSk .mbr-overlay {
  background: linear-gradient(90deg, #21b968, #1ec5bf);
}
.cid-rcNJbZ1LSk h3 {
  color: #000000;
  font-weight: 300;
}
.cid-rcNJbZ1LSk p {
  color: #464646;
}
.cid-rcNJbZ1LSk h2 {
  color: #000000;
}
.cid-rcNJbZ1LSk .media-content {
  padding-right: 1.5rem;
  padding-left: 0;
}
.cid-rcNJbZ1LSk .mbr-section-btn {
  margin-left: -0.8rem;
}
.cid-rcNJbZ1LSk .mbr-figure {
  padding-right: 1rem;
}
@media (min-width: 500px) {
  .cid-rcNJbZ1LSk .mbr-figure {
    padding-left: 2rem;
  }
}
@media (max-width: 499px) {
  .cid-rcNJbZ1LSk .mbr-figure {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 1rem;
  }
}
@media (max-width: 991px) {
  .cid-rcNJbZ1LSk .mbr-figure {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .cid-rcNJbZ1LSk .mbr-text {
    text-align: center;
  }
}
.cid-rcNJbZ1LSk .mbr-section-title,
.cid-rcNJbZ1LSk .mbr-section-btn {
  text-align: right;
}
.cid-rcNJbZ1LSk .mbr-section-subtitle {
  text-align: right;
}
.cid-rcNKdevwXF {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
  direction: rtl;
}
.cid-rcNKdevwXF h3 {
  text-align: center;
  font-weight: 300;
}
.cid-rcNKdevwXF .wrap {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.cid-rcNKdevwXF .mbr-section-subtitle {
  color: #555555;
}
.cid-rcNKdevwXF .pie_progress__number {
  text-align: center !important;
}
.cid-rcNKdevwXF .card-title {
  margin-bottom: 0;
}
.cid-rcNKdevwXF .card {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  word-wrap: break-word;
}
.cid-rcNKdevwXF .svg-gradient {
  position: absolute;
}
.cid-rcNKdevwXF ellipse {
  stroke: rgba(206, 206, 206, 0.4);
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-rcNKdevwXF .card {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
}
.cid-rcNLwEq3hJ {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
  direction: rtl;
}
.cid-rcNLwEq3hJ a {
  color: #232323;
}
.cid-rcNLwEq3hJ a:hover {
  color: #8fc843;
}
.cid-rcNLwEq3hJ h5 {
  color: #4e6dcc;
}
.cid-rcNLwEq3hJ .card-img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.cid-rcNLwEq3hJ .img-icon {
  width: auto;
  max-width: 500px;
  max-height: 500px;
  left: 0;
  position: absolute;
}
@media (min-width: 992px) {
  .cid-rcNLwEq3hJ .my-col {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 15px;
    -webkit-flex: 0 0 20%;
  }
}
.cid-rcNMVTAUyz {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f8f8f8;
  direction: rtl;
}
.cid-rcNNwsH3nJ {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #f8f8f8;
  direction: rtl;
}
.cid-rcNNwsH3nJ h2,
.cid-rcNNwsH3nJ h3,
.cid-rcNNwsH3nJ p,
.cid-rcNNwsH3nJ h4 {
  color: #0a0a0a;
}
.cid-rcNNwsH3nJ .img-block img {
  height: 100%;
  max-height: 600px;
}
.cid-rcNNwsH3nJ .mbr-iconfont {
  color: #8fc843;
  font-size: 2rem;
}
.cid-rcNNwsH3nJ .input {
  margin-bottom: 15px;
}
.cid-rcNNwsH3nJ .mbr-text {
  color: #767676;
}
.cid-rcNNwsH3nJ a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-rcNNwsH3nJ .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-rcNNwsH3nJ .input-group-btn {
  display: block;
  text-align: center;
}
.cid-rcNNwsH3nJ .form-block {
  padding: 2rem;
  box-shadow: 0 0 5px #a8a8a8;
  background-color: #ffffff;
}
.cid-rcNNwsH3nJ .block .form-control {
  padding: 1.07em 1.07em;
}
.cid-rcNNwsH3nJ .card-img {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 3rem;
  text-align: center;
}
.cid-rcNNwsH3nJ .media-container-row {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.cid-rcNNwsH3nJ .list-block {
  position: relative;
}
.cid-rcNNwsH3nJ .list-block h4,
.cid-rcNNwsH3nJ .list-block p {
  padding-left: 3.5rem;
}
.cid-rcNNwsH3nJ .card-img {
  display: block;
}
@media (max-width: 767px) {
  .cid-rcNNwsH3nJ h2 {
    padding-top: 2rem;
  }
}
@media (min-width: 768px) {
  .cid-rcNNwsH3nJ .container > .row > .col-md-6:first-child {
    padding-right: 30px;
  }
  .cid-rcNNwsH3nJ .container > .row > .col-md-6:last-child {
    padding-left: 30px;
  }
  .cid-rcNNwsH3nJ .img-block-wrap {
    position: relative;
  }
  .cid-rcNNwsH3nJ .img-block-wrap .img-block {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .cid-rcNNwsH3nJ .img-block-wrap .img-block img {
    height: 100%;
  }
  .cid-rcNNwsH3nJ .text-content {
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-rcNNwsH3nJ .google-map {
    padding-bottom: 2rem;
  }
  .cid-rcNNwsH3nJ .img-block {
    overflow: hidden;
  }
}
.cid-rcNNwsH3nJ .content-title {
  text-align: right;
}
.cid-rcNNwsH3nJ .content-subtitle {
  text-align: right;
}
.cid-rcNNwsH3nJ .list-item-title {
  text-align: left;
}
.cid-rcNNwsH3nJ .list-item-text {
  text-align: center;
}
.cid-rcNNwsH3nJ .mbr-section-subtitle DIV {
  text-align: right;
}
.cid-rcNN7vdLuJ {
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(0deg, #efefef, #8fc843);
  direction: rtl;
}
.cid-rcNN7vdLuJ a {
  text-align: center;
}
.cid-rcNN7vdLuJ p {
  color: #0a0a0a;
  text-align: center;
}
.cid-rcNN7vdLuJ span {
  font-size: 2rem;
}
.cid-rcNN7vdLuJ .mbr-iconfont-social {
  font-size: 20px;
  width: 44px;
  padding-top: 6px;
  display: inline-block;
  line-height: 38px;
  border-radius: 50%;
}
.cid-rcNN7vdLuJ .socicon-twitter {
  color: #4da7de;
}
.cid-rcNN7vdLuJ .socicon-facebook {
  color: #3e5b98;
}
.cid-rcNN7vdLuJ .socicon-googleplus {
  color: #dd4b39;
}
.cid-rcNN7vdLuJ .socicon-instagram {
  color: #3f729b;
}
.cid-rcNN7vdLuJ .social-list a:focus {
  text-decoration: none;
}
.cid-rcNN7vdLuJ .text-copyright {
  width: 100%;
}
.cid-rcNN7vdLuJ .img-logo-footer {
  margin-right: 1rem;
  max-width: 5rem;
}
.cid-rcNN7vdLuJ .text-logo-footer {
  display: inline-block;
  vertical-align: middle;
}
.cid-rcNN7vdLuJ .logo-footer {
  line-height: normal;
}
.cid-rcNN7vdLuJ .copyright {
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rcNN7vdLuJ .social-btns {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rcNN7vdLuJ .media-container-row {
  align-items: center;
  -webkit-align-items: center;
}
.cid-rcNN7vdLuJ .media-container-row a {
  margin: 0 1rem;
}
